<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project 2</title>
    <!--STYLE (BULMA + VANILLA CSS)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
    <link rel="stylesheet" href="/assets/appStyle.css">
    <!--FONT AWESOME-->
    <script src="https://kit.fontawesome.com/a5911a690a.js" crossorigin="anonymous"></script>   
</head>
<body>
    <div class="content box" id="notFoundDiv">
        <h1 class="title is-underlined has-text-danger">404: Thing not found</h1>
        <h2 class="subtitle">The URL you are looking for doesn't appear to exist.</h2>
        <br>
        <h2>(At least not on this server.)</h2>
        <br>
        <a class="button is-success" href="/app">Click here to return to the app.</a>
    </div>

</body>
</html>