<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project 2</title>
    <!--REACT-->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--STYLE (BULMA + VANILLA CSS)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
    <link rel="stylesheet" href="/assets/appStyle.css">
    <!--FONT AWESOME-->
    <script src="https://kit.fontawesome.com/a5911a690a.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar has-shadow">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/assets/img/title.png">
            </a>

            <a role="button" class="navbar-burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a class="navbar-item" href="https://github.com/lpd8987/430-Project-2">
                        <span class="icon is-medium">
                            <i class="fab fa-2x fa-github-square"></i> 
                        </span>
                    </a>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon is-medium">
                            <i class="fas fa-2x fa-circle-user"></i> 
                        </span>
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item p-4" href="/app">
                            <span class="icon is-medium">
                                <i class="fas fa-lg fa-coins"></i> 
                            </span>
                            &nbsp
                            Back to Game
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item has-text-danger p-4" href="/logout">
                            <span class="icon is-medium">
                                <i class="fas fa-sign-out"></i>
                            </span>
                            &nbsp
                            Log out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <h1 class="title">Settings:</h1>

    <div id="accountSettings">
        <h2 class="subtitle">Account Settings:</h2>
        <button class="button" id="changeUserBtn">Change Username</button>
        <button class="button" id="changePassBtn">Change Password</button>
        <button class="button" id="eraseDataBtn">Clear User Data</button>
        <button class="button" id="deleteAccountBtn">Delete Account</button>

        <div id="editForm"></div>
    </div>

    <h2 id="errorMessage" class="hidden has-text-danger-dark is-size-5 has-text-weight-bold"></h2>

    <div id="adSpace">
        <img class="image" src="/assets/img/adPlaceholder.png" alt="Ad 1">
        <img class="image" src="/assets/img/adPlaceholder.png" alt="Ad 2">
        <img class="image" src="/assets/img/adPlaceholder.png" alt="Ad 3">
    </div>

    <script src="/assets/settingsBundle.js"></script>
</body>
</html>