<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project 2</title>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <div class="navlink"><a href="/logout">Log out</a></div>
        <div class="navlink"><a href="/app">App</a></div>
    </nav>

    <h1>Settings:</h1>

    <h2 id="errorMessage" class="hidden"></h2>

    <div id="accountSettings">
        <h2><u>Account Settings:</u></h2>
        <button id="changeUserBtn">Change Username</button>
        <button id="changePassBtn">Change Password</button>

        <div id="editForm"></div>
    </div>

    <script src="/assets/settingsBundle.js"></script>
</body>
</html>