@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";

/*LOGIN PAGE*/
#loginBody #content {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loginBody #errorMessage {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loginBody #controls {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}