@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";

#loginBody #content, #notFoundDiv {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loginBody #errorMessage {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loginBody #controls {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-end {
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0%;
}

li {
    display: list-item;
    list-style-position: inside;
}

#playerData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#playerName, #score, #highScore {
    width: 20vw;
    margin: 5px;
}

#adSpace {
    display: flex;
    gap: 20px;
    margin: 15px;
    justify-content: center;
}

.image {
    min-width: 300px;
    min-height: 250px;
}